.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.contacts__container {
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px 0px 0px 2%;
}

.menu__container {
    width: 64%;
    padding: 20px 5% 0px;
}

.menu__container--little {
    display: none;
    flex: 1;
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/menu--little.svg');
}

.menu__link {
    text-decoration: none;
    color: black;
}

.logo {
    width: 20%;
    max-width: 280px;
}

.logo__image-container {
    width: 100%;
}

.logo__image {
    width: 100%;
}

.logo__text {
    margin: 0;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #898989;
    font-family: $helvetica-ultraLight;
    text-align: right;
}

.contacts__text {
    font-size: 1rem;
    color: #363636;
    text-align: right;
    width: 100%;
    padding-top: 5px;
}

.contacts__phone {
    padding-top: 5px;
    font-size: 1.3rem; //18px
    line-height: 1.7rem;
    color: #363636;
}

.menu__list {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    letter-spacing: 0px;
    color: #363636;
}

.menu__item {
    margin-right: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    padding-bottom: 5px;
    position: relative;
}


.menu__item:last-child {
    margin-right: 0px;
}

.menu__item:hover {
    border-bottom: 2px solid $lime;
    position: relative;

    & .second-menu__list {
        display: flex;
    }

    & .menu__svg-triangle {
        display: block;
    }
}

.menu__item--submenu {
    position: relative;
}

.menu__item--submenu:after {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    background-image: url('../images/main-sub-menu.svg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    right: -12px;
}


.second-menu__list {
    display: none;
    flex-direction: column;
    width: 250px;
    padding: 10px 0px;
    background-color: $lite-lime;
    z-index: 1;
    left: -20px;
}


.second-menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-menu__item .second-menu__link {
    position: relative;
    padding: 8px 0px 4px 15px;
    text-decoration: none;
    color: black;
}

.shape-icon__container {
    margin-right: 20px;
    opacity: 0;
}

.second-menu__item:hover .shape-icon__container {
    opacity: 1;
}

.second-menu__item:hover {
    background-color: white;

    & .third-menu__list {
        display: flex;
    }
}

.third-menu__item a{
    text-decoration: none;
    color: black;
}

.third-menu__item {
    font-size: 0.9rem;
    padding: 8px 20px 6px 16px;

    &:hover a {
        padding-bottom: 2px;
        border-bottom: 2px solid $lime;
    }
}

.third-menu__list {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    width: 250px;
    height: 100%;
    left: 100%;
    top: 0;
    padding: 16px 0px;
}

.menu__svg-triangle {
    display: none;
    margin-left: 20px;
}

.second-menu__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 6px;
    left: -20px;
}