.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    width: 280px;
    height: 80px;

}

.logo__text {
    margin: 0;
    font-size: 11px;
    letter-spacing: 1px;
    color: #898989;
    font-family: $helvetica-ultraLight;
    text-align: right;
}

.contacts__text {
    font-size: 14px;
    color: #363636;
    text-align: right;
}

.contacts__phone {
    font-size: 18px;
    line-height: 24px;
    color: #363636;
}

.menu__list {
    display: flex;
    font-size: 14px;
    letter-spacing: 0px;
    color: #363636;
}

.menu__item {
    margin-right: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    padding-bottom: 5px;
    position: relative;
}


.menu__item:last-child {
    margin-right: 0px;
}

.menu__item:hover {
    border-bottom: 2px solid $lime;
    position: relative;

    & .second-menu__list {
        display: flex;
    }

    & .menu__svg-triangle {
        display: block;
    }
}

.second-menu__list {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 250px;
    padding: 16px 0px;
    background-color: $lite-lime;
    z-index: 1;
    left: -20px;
    margin-top: 13px;
}


.second-menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-menu__item .second-menu__link {
    position: relative;
    padding: 8px 0px 8px 20px;
    text-decoration: none;
    color: black;
}

.shape-icon__container {
    margin-right: 20px;
    opacity: 0;
}

.second-menu__item:hover .shape-icon__container {
    opacity: 1;
}

.second-menu__item:hover {
    background-color: white;

    & .third-menu__list {
        display: flex;
    }
}

.third-menu__item a{
    text-decoration: none;
    color: black;
}

.third-menu__item {
    padding: 8px 20px;

    &:hover a {
        padding-bottom: 2px;
        border-bottom: 2px solid $lime;
    }
}

.third-menu__list {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    width: 250px;
    height: 100%;
    left: 100%;
    top: 0;
    padding: 16px 0px;
}

.menu__svg-triangle {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.second-menu__container {
    position: relative;
    height: 100%;
}