$helvetica-black: 'hel-black';
$helvetica-bold: 'hel-bold';
$helvetica-italic: 'hel-italic';
$helvetica-light: 'hel-light';
$helvetica-roman: 'hel-roman';
$helvetica-thin: 'hel-thin';
$helvetica-ultraLight: 'hel-ultraLight';

$lime: #78b660;
$lite-lime: #d7e9cd;
